apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: alertmanager-config
  namespace: <<prometheus_stack_namespace>>
  labels:
    app: kube-prometheus-stack
spec:
  route:
    groupBy: ['alertname','job']
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 4h
    # If an alert isn't caught by a route, send it to default.
    receiver: default
    # The child route trees
    routes:
    - receiver: 'dingtalk'
      groupWait: 10s
      matchers:
      - name: 'severity'
        regex: false
        value: 'critical'
      continue: true
      repeatInterval: 1h

    - receiver: 'email'
      matchers:
      - name: 'severity'
        regex: false
        value: 'warning'
      continue: true

    - receiver: 'email'
      matchers:
      - name: 'severity'
        regex: false
        value: 'info'
      continue: true
  receivers:
  - name: 'default'
    emailConfigs:
      # 接收人邮箱地址, 根据实际情况修改
    - to: 'xxx@dkc.cn'
      # 邮箱smtp服务器代理, 根据实际情况修改
      smarthost: 'smtp.dkc.cn:465'
      # 发送邮箱名称, 根据实际情况修改
      from: 'no-reply@dkc.cn'
      # 邮箱名称, 根据实际情况修改
      authUsername: 'xxx@dkc.cn'
      authPassword:
        name: 'email-password'
        key: 'authPassword'
      requireTLS: false
      tlsConfig:
        insecureSkipVerify: true
      sendResolved: true

  - name: 'email'
    emailConfigs:
      # 接收人邮箱地址, 根据实际情况修改
    - to : 'xxx@dkc.cn, xxx@dkc.cn, xxx@dkc.cn'
      # 邮箱smtp服务器代理, 根据实际情况修改
      smarthost: 'smtp.dkc.cn:465'
      # 发送邮箱名称, 根据实际情况修改
      from: 'no-reply@dkc.cn'
      # 邮箱名称, 根据实际情况修改
      authUsername: 'xxx@dkc.cn'
      authPassword:
        name: 'email-password'
        key: 'authPassword'
      requireTLS: false
      tlsConfig:
        insecureSkipVerify: true
      sendResolved: true

  - name: 'dingtalk'
    webhookConfigs:
      # 钉钉通知服务地址, 根据实际情况修改
    - url: http://alertmanager-webhook-dingtalk/dingtalk/webhook1/send
      sendResolved: true

  - name: 'wechat'
    wechatConfigs:
      # 企业微信api地址, 根据实际情况修改
    - apiURL: 'https://qyapi.weixin.qq.com/cgi-bin/'
      apiSecret:
        name: 'wechat-api-secret'
        key: 'apiSecret'
      # 企业微信id, 根据实际情况修改
      corpID: '<string>'
      sendResolved: true

---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: email-password
data:
  # base64编码的密码, 使用该命令生成: echo <password> | base64 -
  authPassword: cGFzc3dvcmQK

---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: wechat-api-secret
data:
  # base64编码的企业微信秘钥, 使用该命令生成: echo <apiSecret> | base64 -
  apiSecret: YXBpU2VjcmV0Cg==

