apiVersion: v1
kind: Service
metadata:
  annotations:
    v2.min.io: console-svc
  labels:
    label: console-svc
    v1.min.io/console: minio-console
  name: minio-console-svc
spec:
  ports:
  - name: http-console
    port: 80
    protocol: TCP
    targetPort: 9090
  selector:
    v1.min.io/console: minio-console
  sessionAffinity: None
  type: NodePort
status:
  loadBalancer: {}
